
/*====  RESET ============================ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --cor-de-fundo: #F5F5F5;
    --cor-de-fundo-menu: #ffffff;
    --cor-do-link: #000000;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-do-link);
}


/* ------------------------------ Seção Menu -------------------------------*/

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    background-color: var(--cor-de-fundo-menu);

}

.cabecalho__titulo {
    font-size: 1.02rem;
    font-weight: 700;
}

.cabecalho__logo {
    max-width: 80px;
    margin-right: 8px;
    
}

.navegacao{
    display: block;
    padding: 0.5rem;
    margin-left: auto;
    
}

.navegacao__lista {
    display: flex;
    gap: 2rem;
    padding: 0.5rem;
   
   
}

/* ------------------------------ Seção Apresentação ------------------------------*/

.apresentacao {
    background-color: #f4f4f4;
    padding: 2rem;
    background-color: var(--cor-de-fundo-menu);

}

.apresentacao__conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.apresentacao__text-content {
    flex: 1;
    max-width: 600px;
    padding-right: 2rem;
    margin-left: 38px;
    
}

.apresentacao__titulo {
    font-size: 4rem;
    color: #333;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
}

.apresentacao__subtitulo {
    font-size: 1.25rem;
    color: #666;
    margin-top: 1rem;
}

.redes {
    list-style: none;
    padding: 0;
    margin-top: 1.5rem;
    display: flex;
    gap: 100px;
    font-size: 1.4375rem;
}

.redes__elemento a {
    text-decoration: none;
   color: #464646;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.redes__elemento img {
    width: 12px;
    height: 12px;
}

/* Estilizando a foto */
.apresentacao__foto-content {
    flex: 1;
    
    
}

.apresentacao__foto {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 100%;
}


/* ------------------------------ Seção Sobre mim ----------------------------------*/

.sobre-mim {
    background-color: #eaf2fd;
    padding: 64px;
    height: 383px;
    width: 100%;
    

}

.sobre-mim__titulo {
    font-size: 2rem;
    color: #464646;
    font-weight: 700;
    
   
}

.sobre-mim__texto {
    font-size: 1rem;
    width: 80%;
    margin-top: 1rem;
}